
@{
    ViewData["Title"] = "Packge";
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Package</h3>
                <span class="breadcrumb"><a href="#">Home</a>  >  package</span>
            </div>
        </div>
    </div>
</div>

<!-- ***** wheel of fortune***** -->

<section class="package">
    <div class="container">
        <div class="package-wrapper">
            <div class="package-status">
                <h3 class="package__header">Package Status</h3>
                <a href="index.html" class="package__link button">Main Page</a>
            </div>
        </div>
        <!-- /.package-wrapper -->
    </div>
    <!-- /.container -->
</section>

